SUPABASE_PROJECT_ID=apurturkurdeouccjrqo
SUPABASE_PUBLISHABLE_KEY=sb_publishable_dtqQr6-OXNU_wB94lXob4A_tD0tohTf
SUPABASE_URL=https://apurturkurdeouccjrqo.supabase.co
VITE_SUPABASE_PROJECT_ID=apurturkurdeouccjrqo
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_dtqQr6-OXNU_wB94lXob4A_tD0tohTf
VITE_SUPABASE_URL=https://apurturkurdeouccjrqo.supabase.co
